.player-cards{
    background: #AAA9AF;
    width: 17vw;
    height: 50vh;
    border: solid 3px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
.edit {
    background: #AAA9AF;
    color: blue;
    text-decoration: underline;
    border: none;
}
.delete {
    background: #AAA9AF;
    color: blue;
    text-decoration: underline;
    float: right;
    border: none;
}
img {
    height: 40vh;
    width: 17vw;
}
.edit:hover {
    cursor: pointer;
}
.delete:hover {
    cursor: pointer;
}